@import './color.scss';
@import './variable.scss';
@media (max-width:1200px){
    .min-dis{
        margin-top: 40px;
    }
    .testimonial{
        .carosel-container{
            max-width: 100%;
            .item-1{
                      max-width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                .item1-image {
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    img{
                        width: 70%;
                        height: 70%;
                        border-radius: 50%;

                    }
                }
            }
        }
    }
    .arrow{
        display: none !important;
    }
        .nav-list{
            display: none;
            text-align: center;
            display: none;
            top:70px;
            left:0;
            right: 0;
            height: 400px;
            position: absolute;
            min-width: 100%;
            background-color: $primary-color;
            z-index: 999;
            .active{
                color: $primary-color;
            }
            button{
                background-color: blanchedalmond !important;
                color: $primary-color !important;
            }
            ul{
                display: block !important;
                padding: 0;
                list-style: none;
                li{
                  padding: 10px;
                  display: block !important;  
                }
                a{
                    color: rgb(255, 255, 255) !important;
                    font-weight: bold;
                    font-size: $nav-font;
                    text-decoration: none;
                }
            }
        }
    .start-btn{
        width:100% !important;

    }
    
    .mobile-menu{
       
        .line{
            
            height: 5px;
            width: 30px;
            background-color: $primary-color;
            margin-top: 5px;
          
        }
    }
   
}