@import './color.scss';
@import './variable.scss';
@import './responsive.scss';
::after,
*,
::before
{

    padding: 0;margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    font-family: $poppins;
}

body{
    background-image: url('../assets/Ellipse\ 1.png');
    background-repeat: no-repeat;
}
.primary{
    color: $primary-color;
}
.hero{
    height: 100vh;
    .nav-bar{
        min-width: 100%;
        height: 70px;
        z-index: 99;
       
        .brand{
            padding:  10px 0px;
            color: $primary-color;
            font-weight: 900;
            font-size: $nav-brand;
        }
        
        .nav-list{
            .active{
                color: $primary-color;
            }
            ul{
                display: inline ;
                padding: 0;
                list-style: none;
                li{
                  padding: 10px;
                  display: inline ;  
                }
                a{
                    color: black;
                    font-weight: bold;
                    font-size: $nav-font;
                    text-decoration: none;
                }
            }
            
        }
    }
    .start-btn{
        outline: none;
        font-weight: bold;
        color: white;
        background-color: $primary-color;
        border: 0;
        &:hover{
            background-color: $primary-hover;
        }   
    }
    .hero-section{
        .hero-right{
            img{
                padding: 20px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.mobile-menu-rotate div{
    
    transform: rotate(30deg);

}

.proposal{
    
    overflow-y: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    background-color: rgba(26, 26, 26, 0.8);
   
    display: none;
   
    .box{
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        top: 0;left: 0; right: 0; bottom: 0;
        box-shadow: rgba(90, 90, 90, 0.39) 0px 0px 10px 5px;
        background-color: white;
    
        .close{
            padding: 10px;
            background-color: $primary-color;
            color: white;
            cursor: pointer;
            margin: 20px;
            position: absolute;
            top:0;
            right:0;
        }
        .main{
            font-size: 18px;
            margin: 20px;
            position: absolute;
            top: 100px;left: 0;right: 0;bottom: 0;
            padding: 30px;
            .form-group{
              
                .ls-input{
                    
                    border-width:0 0 3px 0 !important;
                    outline: none;
                  
                }
            }
           
        }
        .footer{
            border-radius: 5px;
            width: 50px;
            background-color: $primary-color;
            position: absolute;
            bottom: 10px;
            right: 10px;
            .slider{
               font-weight: 800;
              
                .up{
                    cursor: pointer;
                    padding: 10px;
                    color: white;
                    text-align: center;
                    &:hover{
                        background-color: $primary-hover;
                    }
                }
                
                .down{
                    cursor: pointer;
                    padding: 10px;
                    border-style: solid;
                    border: 0;
                    color: white;
                    text-align: center;
                    transform: rotate(180deg);
                    &:hover{
                        background-color: $primary-hover;
                    }
                }
            }
            
        }
    }
   
}

.minds{
    
    .mind-img img{
        
        max-width: 100%;
    }
    .title{
        .mind-para{
            text-align: center;
        }

    
    }
}

.testimonial{
   
    .carosel-container{
        border-radius: 10px;
        background-color: $carosel-bg;
        position: relative;
        
        .arrow{
            display: flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border-width: 3px;
            border-color: $primary-color;
            border-style: solid;
            z-index: 10;
            font-size: 64px;
            color: $primary-color;
            &:hover{
                cursor: pointer;
                background-color: $primary-color;
                color: white;
            }
        }
        .back{
          
          left: -130px;  
        }
        .forward{
            right: -130px;
        } 
       
        .circle{
            position: absolute;
           width: 10px;
           border-radius: 10px 10px 10px 10px;
           height: 10px;
           border-radius: 50%;
           background-color: $primary-color;
           z-index: 11;
        }
        .front{
            bottom: -30px;
            // left: 0;
            left: 45%;
            transform: translate(-50%, -50%);
        }
        .middle{
           bottom: -30px;
        //    left: 50%;
        //    transform: translate(-50%, -50%);
        left: 50%;
        transform: translate(-50%, -50%);
            
        }
        .last{
            bottom: -30px;
            // right: 0;
            left: 55%;
            transform: translate(-50%, -50%);
        }
        
        }
        
    .item-1{
        
        .item1-image{
            img{
                width: 60%;
                height: 100%;
                border-radius: 50%;
            }
            
    } 
}

}

.prop-footer{
    height: 50vh;
    
    .start-btn{
        text-decoration: none;
        outline: none;
        font-weight: bold;
        color: white;
        background-color: $primary-color;
        border: 0;
        &:hover{
            background-color: $primary-hover;
       }   }
}
  
footer{
    background-color: $primary-color;
    height: 50vh;
    width: 100%;
    font-family: $poppins;
    color: $footerh4-color;
    padding-left: -50px;
    
 
          
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        
        

    img{
        position: relative;
        width: 50px;
        height: 50px;
        margin-left: -70px;
        margin-top: 40px;
    }
    .Latrosoft{
        width: 400px;
        margin-top: 40px;
        margin-left: -10px;
        display: flex;
        align-items: flex-start;
        justify-self: center;
        flex-direction: column;
        
        h2{
            font-weight: 800;
            margin-top: -40px;
        }
         p{
             text-align: justify;
             margin-left: -60px;
             margin-top: 20px;
             font-weight: 300;
         }
    }
    .overview{
       display: flex;
       justify-content: center;
      
       flex-direction: column;
       margin-left: 60px;
       padding: 0;
      
       h2{
        font-weight: 800;
        
       }
       ul{
        list-style: none;
        
        }
       a{
        text-decoration: none;
        color:$footerh4-color;
        font-weight: 300;
        transition: all 0.3s ease;
        
        &:hover{
            color: $footerh4-color;
            padding-left: 10px;
        }
       }  
    }
     .links{
        display: flex;
       justify-content: center;
       flex-direction: column;
       margin-left: 20px; 
       h2{
           font-weight: 800;
       }
       ul{
           list-style: none;
           a{
            text-decoration: none;
            color:$footerh4-color;
            font-weight: 300;
            transition: all ease 0.3s;
            &:hover{
                color: $footerh4-color;
                padding-left: 10px;
            }
           }  
       }
     }  .contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 10px;
        h2{
            font-weight: 800;
        }
        ul{
            padding: 0;
            a{
                text-decoration: none;
                color: $footerh4-color;
                font-weight: 300;
                transition: all ease 0.3s;
              
                i{
                    font-size: 40px;
                   
                }
                
            }
        }
     }
    }
    .copyright{
        font-weight: 300;
        text-align: center;
       margin-top: 100px;
    }



}


.active-1{
    background-color: $primary-hover !important;
}
