@import './color.scss';
@import './variable.scss';
@import './responsive.scss';

::after,
*,
::before
{

    padding: 0;margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    font-family: $poppins;
}

body{
    background-image: url('../assets/Ellipse\ 1.png');
    background-repeat: no-repeat;
}
.primary{
    color: $primary-color;
}
.hero{
    height: 100vh;
    .nav-bar{
        min-width: 100%;
        height: 70px;
        z-index: 99;
       
        .brand{
            padding:  10px 0px;
            color: $primary-color;
            font-weight: 900;
            font-size: $nav-brand;
        }
        
        .nav-list{
            .active{
                color: rgb(248, 18, 18);
            }
            ul{
                display: inline ;
                padding: 0;
                list-style: none;
                li{
                  padding: 10px;
                  display: inline ;  
                }
                a{
                    color: $primary-color;
                    font-weight: bold;
                    font-size: $nav-font;
                    text-decoration: none;
                }
            }
            
        }
    }
    .start-btn{
        outline: none;
        font-weight: bold;
        color: white;
        background-color: $primary-color;
        border: 0;
        &:hover{
            background-color: $primary-hover;
        }   
    }
    .hero-section{
        .hero-right{
            img{
                padding: 20px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.mobile-menu-rotate div{
    
    transform: rotate(30deg);

}

.proposal{
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    background-color: rgba(26, 26, 26, 0.8);
   
    display: none;
   
    .box{
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: rgba(90, 90, 90, 0.39) 0px 0px 10px 5px;
        background-color: white;
        .close{
            color: $primary-color;
            cursor: pointer;
            margin: 20px;
            position: absolute;
            top:0;
            right:0;
        }
    }
   
}