@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

$poppins: 'Poppins', sans-serif;

$nav-font:18px;
$nav-brand:24px;
$hero-font:36px;
$hero-para:18px;
$hero-btn:24px;


